*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 17px;
  line-height: 1.2em;
}
/* text properties */
h1 {
  font-size: 20px;
  color: white;
}

h2 {
  color: black;
}

h3 {
  font-size: 15px;
  color: #8C8C8C;
}

nav {
  margin: 0 auto;
  padding: 0 auto;
  position: fixed;
  width: 375px;
  background-color: #007AFF;
}


.map {
  padding-top: 50px;
  height: auto;
  width: 375px;
}

.container {
  margin: 0 auto;
  border: 0 auto;
  width: 375px;
}

.bus-list {
  margin-top: 0px;
  background-color: #aaa;
  float: left;
}
/* lists of bus info */

ul {
  list-style: none;
  margin: 0 auto;
  border: 0 auto;
  padding: 3px;
  background-color: #FFFFFF;
  height: 60px;
  width: 375px;
  border-bottom: 1px solid grey;
}

ul.nav {
  background-color: #007AFF;
  border-bottom: none;
  height: 45px;
  padding: 5px;
}

ul.reroute {
}

ul.oos {
}

li {
  padding-top: 8px;
  float: left;
}

li.number {
  padding-top: 18px;
  padding-left: 5px;
  width: 50px;
}

li.destination {
  width: 185px;
}

li.time {
  width: 105px;
}

li.arrow {
  padding-top: 15px;
  transform: scale(.5);
  color: #8C8C8C;
}

li.nav-arrow {
  padding-top: 0px;
  transform: scale(.9);
  color: white;
}

li.button {
  width: 20px;
  padding-left: 5px;
}

li.title {
  padding-left: 15%;
  width: 300px;
  float: left;
}
